# Node.js dependencies
node_modules/

# Build output
dist/

# Environment variables
backend/.env
.env

# Database files and SQLite journaling
backend/data/*.db-shm
backend/data/*.db-wal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
